<main>
    <h2>Lista de usuários</h2>
  <p-table [columns]="cols" [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header let-columns>
      <tr>
        @for (col of columns; track col.header) {
          <td>{{ col.header }}</td>
        }
      </tr>
    </ng-template>
    <ng-template #body let-rowData let-columns="columns">
      <tr>
        @for (col of columns; track col.field) {
          <td>{{ rowData[col.field] }}</td>
        }
        <div class="button-container">
          <p-button (click)="showDialog(rowData)" label="Editar" />
            <p-dialog header="Editar usuário" [(visible)]="visible" [style]="{ width: '40rem', padding: '0.5rem' }">
              <div>
                <form [formGroup]="userForm" (ngSubmit)="onUpdateUser()" class="container-form">
                  <label for="zipCode">CEP</label>
                  <input type="text" formControlName="zipCode" mask="00000-000" placeholder="12345-678" (blur)="onCepBlur()">
                    @if(userForm.get('zipCode')?.invalid && userForm.get('zipCode')?.touched ){
                      <span>Vc precisa adicionar um CEP.</span>
                    }

                  <label for="country">País</label>
                  <input id="country" formControlName="country" type="text">

                  <label for="city">Cidade</label>
                  <input id="city" formControlName="city" type="text">

                  <label for="neighborhood">Rua</label>
                  <input id="neighborhood" formControlName="neighborhood" type="text">
                  <div class="button-container">
                    <p-button label="Cancelar" severity="danger" (click)="visible = false" />
                    <p-button label="Salvar" severity="primary" type="submit" />
                  </div>
                </form>
              </div>
            </p-dialog>
          <p-button type="button" label="excluir" (click)="deleteUser(rowData.id)" severity="danger"/>
        </div>
      </tr>
    </ng-template>
  </p-table>
</main>
