.container-form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.container-form input {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
}

.button-container {
  margin-top: 0.5rem;
}
